.inicio{
    background-color: #26262C;
}

.icons i{
    color: #FFB423;
}
.icons:hover i{
    color: #fff;
}
.redsocial{
    font-size: 30px;
    color: #FFB423;
}
.blob{
    width: auto;
    height: auto;
    fill: #FCC91B;
}
.blob_img{
    width: 170px;
}


.box1{
    width: 318px;
    height: auto;
    flex-direction: column;
    cursor: pointer;
}
.box1:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.5);
    transition: .5s ease-in-out;
    background-color: #FCC91B;
    z-index: 1;
}
.box1 i{
    font-size: 60px;
    color: #FFB423;
}
.box1:hover i{
    color: #26262C;
}
.box1 h4{
    color: #fff;
}
.box1:hover h4{
    color: #26262C;
}
.box1 p{
    color: #fff;
}
.box1:hover p{
    color: #26262C;
}

.box2{
    width: 318px;
    height: auto;
    flex-direction: column;
    cursor: pointer;
}

.icon_framewords i{
    font-size: 60px;
    color: #FCC91B;
}
.inicio h1, h2, p{
    color: #fff;
}
.icon-lg {
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    font-size: 1.2rem;
}
.bg-color-icon {
    opacity: 1;
    background-color: #2D2E32 !important;
}
.bg-blur {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
.Quien_soy p{
    color: #fff;
}
.herramientas h1, p{
    color: #fff;
}
.suscribete h1, p{
    color: #fff;
}

.nav-pills-bg-soft {
    background-color: rgba(6, 106, 201, 0.1);
    padding: 0.625rem 0;
    border-radius: 0.625rem;
}
.nav-pills {
    --bs-nav-pills-border-radius: 0.325rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #066ac9;
}

body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-thumb{
    background: #FFB423;
    border-radius: 5px;
}