.inicio{
    background-color: #26262C;
}
.secciones{
    background-color: #2D2E32;
}
#redonda {
    width: auto;
    height:500px;
    position: static;
    border-radius:50%;
    border: solid 70px #5EE5A1;
  }
.icons_servicios i{
    font-size: 50px;
    color: #FFB423;
}
.icons i{
    color: #FFB423;
}
.icons i:hover{
    color: #fff;
}
.redsocial{
    font-size: 30px;
    color: #FFB423;
}
.blob{
    width: auto;
    height: auto;
    fill: #FCC91B;
}
.blob_img{
    width: 170px;
}