#fondo{
    background-image: url('/src/fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.thumbnail{
    position: relative;
}
.caption{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}